<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title> About &middot; Unistore Pro &middot; Premium Responsive E-Commerce Template </title>

    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Sunrise.Digital">
    <link rel="shortcut icon" type="image/x-icon" href="">
    
    <!-- Bootstrap -->
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet">
    {% block links_css %}
    {% endblock %}
    <!-- <link href="{% static 'assets/css/carousel-product.css' %}" rel="stylesheet"> -->
    <link href="{% static 'assets/css/carousel.css' %}" rel="stylesheet">
    <link href="{% static 'assets/ionicons-2.0.1/css/ionicons.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link href='https://fonts.googleapis.com/css?family=Catamaran:400,100,300' rel='stylesheet' type='text/css'>

    <link href="{% static 'assets/css/custom-scroll/jquery.mCustomScrollbar.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


  </head>
  <body>
    
    {% include 'includes/navbar.html' %}
    
    {% block navbar %}
    {% endblock %}
    
    {% block content %}
    {% if messages %}
    
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} style="z-index: 1000;" class="{{ message.tags }} alert-danger alert"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>

    {% endif %}

    
    {% endblock %}


   
    {% include 'includes/footer.html' %}

    {% block footer %}
    {% endblock %}
    
     <!-- Modal -->
    <div class="modal fade" id="Modal-SignIn" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ion-android-close"></i></span></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                  <h2 class="modal-title text-center">Sign In</h2>
                  <br>

                  <form class="signin" action="index.php" method="post">
                    <input type="email" name="email" value="" placeholder="E-mail" required="" class="form-control" />
                    <br>
                    <input type="password" name="password" value="" placeholder="Password" required="" class="form-control" />
                    <br>

                    <button type="submit" class="btn btn-primary">Ok</button>
                    <a href="#forgin-password" data-action="Forgot-Password">Password recovery ></a>
                  </form>
                  <br>

                  <div class="social-login">
                      <div class="or"><p>OR</p></div>
                      <a href="#"><i class="icon" data-src="{% static 'assets/img/icons/facebook.svg' %}"></i></a>
                      <p>via</p>
                      <a href="#"><i class="icon" data-src="{% static 'assets/img/icons/google-plus.svg' %}"></i></a>
                  </div>
                  <br><br>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="Modal-Registration" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ion-android-close"></i></span></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                  <h2 class="modal-title text-center">Registration</h2>
                  <br>

                  <form class="join" action="index.php" method="post">
                    <input type="text" name="name" value="" placeholder="Name" required="" class="form-control" />
                    <br>

                    <input type="email" name="email" value="" placeholder="E-mail" required="" class="form-control" />
                    <br>

                    <input type="password" name="password" value="" placeholder="Password" required="" class="form-control" />
                    <br>

                    <input type="text" name="confirm" value="" placeholder="Password again" required="" class="form-control" />
                    <br>

                    <button type="submit" class="btn btn-primary btn-sm">Ok</button> &nbsp;&nbsp;
                    <a href="#">Terms ></a>

                    <br><br>
                    <p>
                      By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.
                    </p>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="Modal-ForgotPassword" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ion-android-close"></i></span></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-6">
                  <h4 class="modal-title">Forgot Your Password?</h4>
                  <br>

                  <form class="join" action="index.php" method="post">
                    <input type="email" name="email" value="" placeholder="E-mail" required="" class="form-control" />
                    <br>

                    <button type="submit" class="btn btn-primary btn-sm">Continue</button>
                    <a href="#Sign-In" data-action="Sign-In">Back ></a>
                  </form>
                </div>
                <div class="col-sm-6">
                  <br><br>
                  <p>
                    Enter the e-mail address associated with your account. Click submit to have your password e-mailed to you.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="Modal-Gallery" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ion-android-close"></i></span></button>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>

    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'assets/js/jquery-latest.min.js' %}"></script>
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/core.js' %}"></script>
    <script src="{% static 'assets/js/store.js' %}"></script>
    <!-- <script src="{% static 'assets/js/carousel-product.js' %}"></script> -->
    
    
    <script type="text/javascript" src="{% static 'assets/js/custom-scroll/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    
    <script type="text/javascript" src="{% static 'assets/js/jquery-ui-1.11.4.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/register.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/jquery.ui.touch-punch.js' %}"></script>
    <script src="{% static 'assets/js/api-login.js' %}"></script>
    <script src="{% static 'assets/js/api-product.js' %}"></script>
    <script src="{% static 'assets/js/cart.js' %}"></script>
    <script src="{% static 'assets/js/sebet.js' %}"></script>
    <script src="{% static 'assets/js/api-change.js' %}"></script>
    <script src="{% static 'assets/js/check-out-basket.js' %}"></script>
    <script src="{% static 'assets/js/delete-basket.js' %}"></script>
    <!-- <script>
        window.URLS['loginForm'] = '{% url "account-api:token"%}';
    </script> -->
    <!-- <script>
      window.URLS['changeForm'] = '{% url "account-api:change-api"%}';
  </script> -->
    {% block link_js %}
  
    {% endblock %}
  </body>
  </html>